@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Catemaran";
  src: url("/fonts/Catamaran-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  src: url("/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-500: #fef3ea;
  --color-primary-600: #fde9d7;
  --color-secondary-300: #b3c58e;
  --color-secondary-400: #a3b481;
  --color-secondary-500: #7b944f;
  --color-secondary-600: #5f753b;
  --color-accent-300: #f1b476;
  --color-accent-400: #e39d54;
  --color-accent-500: #dc8233;
  --color-accent-600: #cc6a28;
  --color-hover-200: #FACFAE;
  --color-active-100:#FDE9D7;
  --color-text-500: #492B0B

  /*Typografi */
  --font-sans: "Kanit", sans-serif;
  --font-alt: "Catamaran", sans-serif;
  --font-serif: "Titillium Web", serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
