---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import Searchbar from "../components/Searchbar.astro";
import Dropdown from "../components/Dropdown.astro";
import FilmCard from "../components/FilmCard.astro";
import CardContainer from "../components/CardContainer.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h1" size="large">Komponentbibliotek</Heading>
    <Text stylingclasses="italic">Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text>
    <hr class="my-4" />
    <!-- start på typografi -->
    <section>
      <Heading htmlheading="h2" size="medium">Typografi & overskrifter</Heading>
      <p class="pt-5">Kanit</p>
      <Heading htmlheading="h1" size="large" font="display">h1 - Web - sans</Heading>
      <Heading htmlheading="h1" size="medium" font="display">h1 - Tablet - sans</Heading>
      <Heading htmlheading="h1" size="small" font="display">h1 - Mobile - sans</Heading>
      <p class="pt-5">Catmaran</p>
      <Heading htmlheading="h1" size="large" font="display">h1 - Web - serif</Heading>
      <Heading htmlheading="h2" size="medium" font="sans">h2 - Tablet - serif</Heading>
      <Heading htmlheading="h3" size="small" font="sans">h3 - Mobile - serif</Heading>
      <p class="pt-5">Titillium Web</p>
      <Text teksttype="brødtekst" size="large" font="serif">
        Her er en sektion brødtekst til web: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam. Corporis totam <Link href="#">Default link: </Link> reiciendis quibusdam ratione iure aut, numquam tenetur voluptatem exercitationem sequi enim!
      </Text>
      <Text teksttype="brødtekst" size="medium" font="serif"> Her en sektion brødtekst til mobile: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam. Corporis totam reiciendis quibusdam ratione iure aut, numquam tenetur voluptatem exercitationem sequi enim! </Text>
      <Text teksttype="brødtekst" size="small" font="serif"> Her en sektion brødtekst til mobile: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam. Corporis totam reiciendis quibusdam ratione iure aut, numquam tenetur voluptatem exercitationem sequi enim! </Text>
    </section>
    <!-- slut på typografi -->
    <hr class="my-4" />

    <!-- Buttons komponent instanser -->
    <section>
      <Heading htmlheading="h2" size="medium">Buttons</Heading>
      <Text><Button>Default knap</Button></Text>
      <Text><Button variant="primary">Button variant: primary</Button></Text>
      <Text><Button variant="primary" size="small">Button variant: primary size small</Button></Text>
      <Text><Button variant="primary" size="medium">Button variant: primary size medium</Button></Text>
      <Text><Button variant="primary" size="large">Button variant: primary size large</Button></Text>
    </section>
    <!-- Slut på Buttons komponent instanser -->
    <hr class="my-4" />

    <!-- Searchbar komponent instanser -->
    <section>
      <Searchbar />
    </section>
    <hr class="my-4" />
    <!-- DropDown komponent instanser -->
    <section>
      <Dropdown title="Alder" items={["3 år", "4 år", "5 år", "6 år", "7 år"]} />
    </section>
    <hr class="my-4" />
    <section>
      <FilmCard image="/lillefro.png" alt="Produkt 1" title="Lille Frø" description="8" />
    </section>

    <hr class="my-4" />

    <section>
      <CardContainer title="Se videre">
        <FilmCard image="/lillefro.png" alt="Produkt 1" title="Lille Frø" description="8" />
        <FilmCard image="/lillefro.png" alt="Produkt 1" title="Lille Frø" description="8" />
        <FilmCard image="/lillefro.png" alt="Produkt 1" title="Lille Frø" description="8" />
        <FilmCard image="/lillefro.png" alt="Produkt 1" title="Lille Frø" description="8" />
      </CardContainer>
    </section>
  </main></MainLayout
>
