---
const { image = "/card.jpg", alt = "Card image", title, description } = Astro.props;
---

<div class="card bg-none w-96">
  <figure class="relative inline-block">
    <img class="w-10 h-10 absolute top-2 right-2 z-10" src="/playorange.svg" alt="play knap" />
    <img class="rounded-md" src={image} alt={alt} />
  </figure>
  <div class="mt-1">
    <h2 class="text-xl font-bold">{title}</h2>

    <div class="flex items-center gap-3 mt-1">
      <div class="scale-150"><img src="/schedule.svg" alt="klokke" /></div>
      <p>{description} min</p>
    </div>
  </div>
</div>
