---

---

<footer class="bg-accent-600 text-black">
  <div class="grid md:grid-cols-3 mx-auto p-10 md:gap-20">
    <div class="gap-2 flex flex-col pb-10">
      <img class="w-50 md:w-70" src="/Logo.svg" alt="logo" />
      <img class="w-40 md:w-50 pt-5" src="/FILMSTRIBEN.svg" alt="filmstriben" />
    </div>
    <div class="grid grid-cols-2 gap-10 md:contents">
      <div class="gap-2 flex flex-col">
        <p class="underline">Om børnebiffen</p>
        <p class="underline">Tilgengægelighedserklaring</p>
        <p class="underline">Cookies</p>
        <p class="underline">Privatpolitik</p>
        <p class="underline">Kontakt os</p>
      </div>
      <div class="gap-2 flex flex-col pl-10">
        <p>DBC DIGITAL A/S</p>
        <p>Tempovej 7-11</p>
        <p>2750 Ballerup</p>
      </div>
    </div>
  </div>
</footer>
