---
import Button from "../components/Button.astro";
import Text from "./Text.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header class="bg-[url('/src/assets/images/grønmenu.svg')] bg-no-repeat bg-contain bg-top md:min-h-[150px]">
  <div class="container mx-auto p-4 flex flex-row justify-between items-center pt-1 md:pt-6">
    <!-- Logo -->
    <div id="logo" class="w-30 md:w-50 md:pt-2 md:pb-0">
      <a href="/">
        <img src="/src/assets/images/Logo.svg" alt="Logo" />
      </a>
    </div>

    <!--Søgefelt-->
    <nav class="flex flex-row items-center gap-2 -mt-2">
      <form action="/søgeresultater" method="get" class="w-36 sm:w-64">
        <input type="search" name="q" class="w-full py-1 sm:py-2 px-2 border-[#A3B481] rounded-md
                  bg-[#A3B481] bg-no-repeat bg-right
                  bg-[url('/src/assets/images/søgeicon.svg')]
                  bg-[length:1rem] sm:bg-[length:1.5rem]" style="box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);" />
      </form>

      <!-- Log in knap -->
      <a href="/listview" class="text-sm sm:text-base">
        <Button size="medium">Log ind</Button>
      </a>
    </nav>
  </div>
</header>
